.App, #root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 172, 202);
}

.weather-days {
    padding:10px;
    position: absolute;
    display: flex;
    justify-content: center;
}

